<aside id="sidebar-wrapper">
    <div class="sidebar-brand" *ngIf="metaData">
        <!-- <i class="fa fa-user-secret fa-3x" aria-hidden="true"></i> -->
        <a [routerLink]="['/moduledashboard']" *ngIf="roleType == 'Admin' || roleType == 'Provider'"><img src="/assets/img/login/logo.png" height="60px" (click)="setModuleType('homedash')"></a>
        <a *ngIf="roleType == 'Data Entry Operator'"><img src="/assets/img/login/logo.png" height="60px"></a>
        <h2>Hello, {{fname|capitalize}}</h2>
        <b>{{role === 'Provider' ? 'Employee' : role}}</b>
    </div>
    <ul class="sidebar-nav" *ngIf="getModuleType() === 'patient'">
        <p class="qd">User Dashboard</p>
        <li >
            <a [routerLink]="['/userlist']"><i class="fa fa-home"></i>Home</a>
        </li>
        <li *ngIf="roleType =='false'">
            <a [routerLink]="['/patient']"><i class="fa fa-plus-circle"></i>Patient</a>
        </li>
        <li *ngIf="roleType =='false'">
            <a [routerLink]="['/facility']"><i class="fa fa-users"></i>Facility</a>
        </li>
        <li *ngIf="roleType =='false'">
            <a [routerLink]="['/provider']"><i class="fa fa-calendar-times-o"></i>Provider</a>
        </li>
        <li *ngIf="roleType =='false'">
            <a [routerLink]="['/insurance']"><i class="fa fa-university"></i>Insurance</a>
        </li>
        <li *ngIf="roleType =='false'">
            <a [routerLink]="['/expensive']"><i class="fa fa-medkit"></i>Expensive Medicines</a>
        </li>
        <li *ngIf="roleType =='false'">
            <a [routerLink]="['/reports']"><i class="fa fa-file-text-o"></i>Reports</a>
        </li>
        <li *ngIf="roleType =='false'">
            <a [routerLink]="['/userlist']"><i class="fa fa-user"></i>User Management</a>
        </li>
        <li>
            <a [routerLink]="['/employeedash']" (click)="setModuleType('employee')"><i class="fa fa-users"></i>Employee DashBoard</a>
        </li>
    </ul>
    <ul class="sidebar-nav" *ngIf="getModuleType() !== 'employee' && getModuleType() !== 'patient'">
        <p class="qd">Quick Dashboard</p>
        <li >
            <a [routerLink]="['/moduledashboard']"><i class="fa fa-home"></i>Home</a>
        </li>
        <li *ngIf="roleType == 'Admin'">
            <a [routerLink]="['/userlist']" (click)="setModuleType('patient')"><i class="fa fa-plus-circle"></i>User Management</a>
        </li>
        <li>
            <a [routerLink]="['/employeedash']" (click)="setModuleType('employee')"><i class="fa fa-users"></i>Employee DashBoard</a>
        </li>
    </ul>
    <ul class="sidebar-nav" *ngIf="getModuleType() === 'employee'">
        <p class="qd">Employee Dashboard</p>
        <li >
            <a [routerLink]="['/employeedash']"><i class="fa fa-home"></i>Home</a>
        </li>
        <!-- <li *ngIf="roleType !== 'Admin'">
            <a [routerLink]="['/attachfile']"><i class="fa fa-paperclip"></i>Employee Documents</a>
        </li> -->
        <li *ngIf="roleType == 'Admin'">
            <a [routerLink]="['/userlist']" (click)="setModuleType('patient')"><i class="fa fa-user-o"></i>User Management</a>
        </li>
    </ul>
</aside>
<div id="navbar-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" id="sidebar-toggle">
                    <img src="/assets/img/bar.png" class="img-fluid" style="margin-left: -28px;transform: scale(1.45);">
                </a>
            </div>
            <div style="float: right; cursor: pointer;" (click)="logout()">
                <img src="/assets/img/dash/logout.png" height="50px" class="logout">
            </div>
        </div>
    </nav>
</div>
