<div id="wrapper">
  <app-shareddashboard></app-shareddashboard>
  <section id="content-wrapper" style=" padding-left: 0rem;">
    <div class="row">
      <div class="col-lg-12">
        <!-- <button type="button" class="btn-outline-custom btn-lg iambtn"
        [routerLink]="['/employeevacation']">Apply Vacation</button> -->
        <h2 class="content-title">Lecture Approval</h2>
      </div>
      <div class="box"></div>
    </div>
    <div class="row mt-4">
      <div class="col-md-1"></div>
      <!-- <div class="col-md-2">
        <div class="input-group">
          <input type="text" class="form-control ip" placeholder="Search By Name" style="border:2px solid #87C442;"
            [(ngModel)]="searchString" #search>
        </div>
      </div> -->
      <div class="col-md-11">
        <form [formGroup]="lectureForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-3">
                <input type="text" class="form-control ip" placeholder="Search By Name" style="border:2px solid #87C442;"
                formControlName="name">
            </div>
            <div class="form-group col-md-3">
              <select class="form-control ip elementBorder" formControlName="lecturePeriod" placeholder="Period">
                  <option value="" disabled selected>Search By Period</option>
                  <option *ngFor="let lecturePeriod of lecturePeriods" [value]="lecturePeriod">{{lecturePeriod}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <!-- <label for="sel1">Status:</label> -->
              <select class="form-control ip elementBorder" formControlName="lectureStatus">
                <option value="" disabled selected>Search By Status</option>
                <option *ngFor="let lecture of lectureStatus" [value]="lecture">
                      {{lecture}}
                  </option>
              </select>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-6">
                  <input type="submit" value="Submit" class="btn btn-info btn-block">
                </div>
                <div class="col-md-6">
                  <input type="button" value="Reset" (click)="ngOnInit()" class="btn btn-info btn-block">
                </div>
              </div>
            </div>
          </div>
      </form>
      </div>
    </div>
    <div class="row ml-2">
      <div class="col-md-1 counting">Sr.No</div>
      <div class="col-md-11">
        <div class="details">
          <div class="row">
            <div class="col-md-3 name headerRowFont">Name</div>
            <div class="col-md-3 name headerRowFont">Payroll Period</div>
            <div class="col-md-1 name headerRowFont">Amount</div>
            <div class="col-md-1 name headerRowFont">Status</div>
            <div class="col-md-3 name headerRowFont">Submit Date/Time</div>
            <div class="col-md-1 edit headerRowFont">Action</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ml-2" *ngFor="let  employeeLectureHistory of employeeLectureHistories;let employeeLectureHistoryIndex=index" >
      <!-- <span *ngIf="employeeVacationHistory.Vacations !== undefined"> -->
      <div class="col-md-1 counting" *ngIf="employeeLectureHistory.lectures !== undefined">{{employeeLectureHistoryIndex+1}}</div>
      <div class="col-md-11" *ngIf="employeeLectureHistory.lectures !== undefined">
        <div class="details">
          <div class="row">
            <div class="col-md-3 name">{{employeeLectureHistory.fname}} {{employeeLectureHistory.lname}}</div>
            <div class="col-md-3 name">{{employeeLectureHistory.lectures.period}}</div>
            <div class="col-md-1 name">{{employeeLectureHistory.lectures.amount}}</div>
            <div class="col-md-1 name">{{employeeLectureHistory.lectures.status}}</div>
            <div class="col-md-3 name">{{employeeLectureHistory.lectures.savedon | date:'MM-dd-yyyy HH-mm'}}</div>
            <div class="col-md-1 edit">
              <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal"
                data-target="#myModal" 
                style="color: #87c442;"
                (click)="setEmployeeLectureData(employeeLectureHistory, employeeLectureHistoryIndex)"
                tooltip="Update Document Status" placement="right">
              </i>
            </div>
          </div>
        </div>
      </div>
      <!-- </span> -->
    </div>
    <div class="row noEmployeeData" *ngIf="employeeLectureHistories.length === 0">
      <div class="col-lg-12">
        Data Not Found
      </div>
    </div>
  </section>
</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content mc1">
      <p style="text-align: end; margin-top:20px; cursor: pointer;" data-dismiss="modal"><i class="fa fa-times"
          aria-hidden="true"></i></p>
      <div class="modal-body">
        <h4 class="ap">Lecture Application By {{employeeData.fname}} </h4>
        <hr>
        <form  #form="ngForm">
          <table class="table table-bordered table-sm">
              <thead>
                  <tr>
                  <th>Sr.No</th>
                  <th>View File</th>
                  <th>Payroll Period</th>
                  <th>Comment</th>
                  <th>Remark</th>
                  <th>Approve</th>
                  <th>Reject</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                  <td>{{1}}</td>
                  <td>
                      <a *ngIf="employeeData.lectures.filename != undefined &&
                          employeeData.lectures.filename != ''" 
                          href="{{loadFilesFromUrl}}ab/images/{{employeeData.lectures.filename}}"
                            target="_blank" download>view</a>
                  </td>
                  <td>
                    {{employeeData.lectures.period}}
                  </td>
                  <td>{{employeeData.lectures.comment}}</td>
                  <td>
                      <input type="text" class="form-control" id="name"  value="{{employeeData.lectures.remark}}" name="remark" #remark>
                  </td>
                  <td>
                      <input type="submit" [disabled]="employeeData.lectures.status === 'Approved'" value="Approve"  (click)="onSave(employeeData.lectures._id, employeeData._id,remark, 'Approved')" [ngClass]="{'btn-blue3': employeeData.lectures.status === 'Approved', 'btn-blue2': employeeData.lectures.status !== 'Approved', 'btn-blue1': true}">
                  </td>
                  <td>
                      <input type="submit" [disabled]="employeeData.lectures.status === 'Rejected'" value="Reject"  (click)="onSave(employeeData.lectures._id, employeeData._id,remark, 'Rejected' )" [ngClass]="{'btn-blue3': employeeData.lectures.status === 'Rejected', 'btn-blue2': employeeData.lectures.status !== 'Rejected', 'btn-blue1': true}">
                  </td>
                  </tr>
              </tbody>
          </table>
          <hr>
        </form>
      </div>
    </div>
  </div>
</div>


