<div id="wrapper">
  <app-shareddashboard></app-shareddashboard>
  <section id="content-wrapper" style=" padding-left: 0rem;">
    <div class="row">
      <div class="col-lg-12">
        <button type="button" class="btn-outline-custom btn-lg iambtn"
        [routerLink]="['/employeevacation']">Apply Vacation</button>
      </div>
      <div class="box"></div>
    </div>
    <div class="row mt-4">
      <div class="col-md-1"></div>
      <div class="col-md-2">Filter Date</div>
      <div class="col-md-9" >
        <form [formGroup]="vacationForm" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="form-group col-md-3">
                  <input type="text" class="form-control ip elementBorder" formControlName="vacationFrom" onfocus="(this.type='date')" onblur="(this.type='text')"  placeholder="From Date">
                  <div *ngIf="submitted && f.vacationFrom.errors">
                    <div *ngIf="f.vacationFrom.errors.required" class="topMarginForAllValidation">From Date is required</div>
                  </div>
              </div>
              <div class="form-group col-md-3">
                  <input type="text" class="form-control ip elementBorder" formControlName="vacationTo" onfocus="(this.type='date')" onblur="(this.type='text')"  placeholder="To Date">
                  <div *ngIf="submitted && f.vacationTo.errors">
                    <div *ngIf="f.vacationTo.errors.required" class="topMarginForAllValidation">To Date is required</div>
                  </div>
              </div>
              <div class="col-md-2">
                <input type="submit" value="Submit" class="btn btn-info btn-block">
              </div>
          </div>
      </form>
      </div>
    </div>
    <div class="row ml-2">
      <div class="col-md-1 counting">Sr.No</div>
      <div class="col-md-11">
        <div class="details">
          <div class="row">
            <div class="col-md-3 name headerRowFont">Vacation Date</div>
            <div class="col-md-3 name headerRowFont">Vacation Type</div>
            <div class="col-md-3 name headerRowFont">Vacation Status</div>
            <div class="col-md-3 name headerRowFont">Remark</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ml-2" *ngFor="let  employeeVacationHistory of employeeVacationHistories;let employeeVacationHistoryIndex=index">
      <div class="col-md-1 counting">{{employeeVacationHistoryIndex+1}}</div>
      <div class="col-md-11">
        <div class="details">
          <div class="row">
            <div class="col-md-3 name">{{employeeVacationHistory.Vacations.vacationFrom | date:'MM-dd-yyyy'}} To {{employeeVacationHistory.Vacations.vacationTo |date:'MM-dd-yyyy'}}</div>
            <div class="col-md-3 name">{{employeeVacationHistory.Vacations.vacacationType}} </div>
            <div class="col-md-3 name">{{employeeVacationHistory.Vacations.vacationStatus}}</div>
            <div class="col-md-3 name">{{employeeVacationHistory.Vacations.remark}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row noEmployeeData" *ngIf="employeeVacationHistories.length === 0">
      <div class="col-lg-12">
        Data Not Found
      </div>
    </div>
  </section>
</div>


<!-- <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content mc1">
      <p style="text-align: end; margin-top:20px; cursor: pointer;" data-dismiss="modal"><i class="fa fa-times"
          aria-hidden="true"></i></p>
      <div class="modal-body">
        <h4 class="ap">Review Document For {{employeeData.fname}} </h4>
        <hr>
        <form  #form="ngForm">
          <table class="table table-bordered table-sm">
              <thead>
                  <tr>
                  <th>Sr.No</th>
                  <th>List of Documents</th>
                  <th>Status</th>
                  <th>Remark</th>
                  <th>Approve</th>
                  <th>Reject</th>
                  </tr>
              </thead>
              <tbody *ngFor="let element  of employeeData.files; let indexOfelement = index;">
                  <tr>
                  <td>{{indexOfelement+1}}</td>
                  <td>
                    <a  *ngIf="element.fiName != ''" href="{{loadFilesFromUrl}}ab/images/{{element.fiName}}"  target="_blank" download>{{element.documentname}}</a>
                    <a  *ngIf="element.fiName === ''"   target="_blank" download>{{element.documentname}}</a>

                  </td>
                  <td>{{element.status}}</td>
                  <td>
                    <input type="text" class="form-control" id="name"  value="{{element.remark}}" name="remark" #remark>
                  </td>
                  <td>
                      <input type="submit"[disabled]="element.status === 'Approved'" value="Approve"  (click)="onSave(employeeData._id, element.documentname, indexOfelement, remark, 'Approved')" [ngClass]="{'btn-blue3': element.status === 'Approved', 'btn-blue2': element.status !== 'Approved', 'btn-blue1': true}">
                  </td>
                  <td>
                      <input type="submit" [disabled]="element.status === 'Rejected'" value="Reject"  (click)="onSave(employeeData._id, element.documentname, indexOfelement, remark, 'Rejected' )" [ngClass]="{'btn-blue3': element.status === 'Rejected', 'btn-blue2': element.status !== 'Rejected', 'btn-blue1': true}">
                  </td>
                  </tr>
              </tbody>
          </table>
          <hr>
        </form>
      </div>
    </div>
  </div>
</div> -->


