<div id="wrapper">
    <app-shareddashboard></app-shareddashboard>
    <section id="content-wrapper" style=" padding-left: 0rem;  ">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn-outline-custom btn-lg iambtn"
                    [routerLink]="['/invoicehistory']">Invoice History</button>
            </div>
            <div class="box"></div>
        </div>
        <div class="row ml-2">
            <form #receiptForm="ngForm" class="container mt-3" (ngSubmit)="saveInvoice()">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <section class="container border mb-4 p-3" *ngFor="let in of invoice; let i = index;">
                            <div class="row">
                                <div class="col-6">
                                    <h4>Invoice {{i + 1}}</h4>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="removeInvoice(i)">Remove</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Payroll Cycle</label>
                                        <select class="form-control" [(ngModel)]="in.period"
                                            name="period_{{in.id}}" required>
                                            <option value="" disabled selected>Select Payroll Period</option>
                                            <option *ngFor="let ip of invoicePeriods"
                                                [value]="ip">{{ip}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Amounts</label>
                                        <input type="number" class="form-control elementBorder"
                                            [(ngModel)]="in.amount" name="amount_{{in.id}}" placeholder="USD"
                                            required />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <input type="text" class="form-control elementBorder"
                                            [(ngModel)]="in.comment" name="comment_{{in.id}}"
                                            placeholder="Add Comment" required />
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Attach File</label>
                                        <label style="width:70%">
                                            <i class="fa fa-paperclip fa-2x"></i>
                                            <input type="file" class="form-control sr-only UploadInput"
                                                (change)="fileProgress(i ,$event)" name="file_{{in.id}}"
                                                required />
                                        </label>
                                        <label *ngIf="in.file === null" class="labelForFileNotAttched">&nbsp;<i
                                                class="fa fa-times"></i></label>
                                        <label *ngIf="in.file !== null" class="labelForFileAttched">&nbsp;<i
                                                class="fa fa-check"></i></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </section>
                        <div class="text-left" *ngIf="invoice.length < 7">
                            <button type="button" class="btn btn-primary mb-2" (click)="addInvoice()">Add New
                                Invoice</button>
                        </div>
                        <div class="text-right marginTopReduce" *ngIf="invoice.length > 0">
                            <input type="submit" class="btn btn-success" value="          Submit           " />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>