<div id="wrapper">
  <app-shareddashboard></app-shareddashboard>
  <section id="content-wrapper" style=" padding-left: 0rem;  ">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="content-title">Employee Dashboard</h2>
        <div class="box">
          <div class="row">
            <div class="col-md-1">
              <img src=""  *ngIf="roleType !== 'Admin'"  alt="Attach File" class="style_prevu_kit a1 fa fa-paperclip" [routerLink]="['/attachfile']">
            </div>
            <div class="col-md-1 gop"></div>
            <!-- <div class="col-md-1">
              <img src="" class="style_prevu_kit" [routerLink]="['/facility']">
            </div> -->
            <!-- <div class="col-md-1 gop" ></div> -->
            <!-- <div class="col-md-1">
              <img src="/assets/img/dash/dl3.png" class="style_prevu_kit" [routerLink]="['/provider']">
            </div> -->
            <!-- <div class="col-md-1 gop"></div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
