<div id="wrapper">
  <app-shareddashboard></app-shareddashboard>
  <section id="content-wrapper" style=" padding-left: 0rem;  ">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="content-title">Employee Dashboard</h2>
          </div>
          <div class="box"></div>
      </div>
      <div class="row reports goa">
          <div class="col-md-1"></div>
          <div class="col-md-3" *ngIf="roleType !== 'Admin'">
              <figure>
                  <div>
                      <span [routerLink]="['/attachfile']">Upload Document<i
                              class="fa fa-arrow-right" aria-hidden="true"></i></span>
                      <span>Upload Document</span>
                  </div>
              </figure>
          </div>
          <div class="col-md-3" *ngIf="false">
            <figure>
                <div>
                    <span [routerLink]="['/employeefacility']">Employee Benefits<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span>Benefits</span>
                </div>
            </figure>
          </div>
          <div class="col-md-3" *ngIf="roleType === 'Admin'">
                <figure>
                    <div>
                        <span [routerLink]="['/showdocuments']">Document Approval<i
                                class="fa fa-arrow-right" aria-hidden="true"></i></span>
                        <span> Document Approval</span>
                    </div>
                </figure>
          </div>
          <div [ngClass] = "{'col-md-3':roleType === 'Admin'}" *ngIf="false">
                <figure>
                    <div>
                        <span [routerLink]="['/employeefacilityapproval']">Benifits Approval<i
                                class="fa fa-arrow-right" aria-hidden="true"></i></span>
                        <span>Benefits</span>
                    </div>
                </figure>
          </div>
          <div class="col-md-3">
                <figure>
                    <div>
                        <span><a href="https://drive.google.com/drive/my-drive" target="_blank">Google Drive<i
                                class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                        <span>Google Drive</span>
                    </div>
                </figure>
          </div>
          <div class="col-md-3">
            <figure>
                <div>
                    <!-- <span data-toggle="modal" data-target="#myModalap2">calendar <i
                            class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span> Google calendar</span> -->
                    <span><a href="https://calendar.google.com/calendar/u/0/r?tab=cc" target="_blank">Google Calendar<i
                        class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                    <span>Google Calendar</span>
                </div>
            </figure>
         </div>
      </div>
      <div class="row reports goa">
          <div class="col-md-1"></div>
          <div class="col-md-3">
              <figure>
                  <div>
                      <span><a href="https://www.adp.com/" target="_blank">Adp<i
                              class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                      <span>Adp</span>
                  </div>
              </figure>
          </div>
          <div class="col-md-3" >
            <figure>
                <div *ngIf="roleType !== 'Admin'">
                    <span [routerLink]="['/employeevacation']">Vacation Tracker<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span>Vacation Tracker</span>
                </div>
                <div *ngIf="roleType === 'Admin'">
                    <span [routerLink]="['/allvacationhistory']">Vacation Approval<i
                         class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span>Vacation Approval</span>
                </div>
            </figure>
          </div>
          <div class="col-md-3">
            <figure>
                <div>
                    <span><a href="https://app.talentlms.com/login" target="_blank">Learning Center<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                    <span>Learning Center</span>
                </div>
            </figure>
          </div>
      </div>
      <div class="row reports goa" >
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <figure>
                    <div>
                        <span><a href="https://secure4.entertimeonline.com/ta/6132156.login" target="_blank">Kronos Link<i
                                class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                        <span>Kronos Link </span>
                    </div>
                </figure>
            </div>
            <div class="col-md-3">
                <figure>
                    <div>
                        <span [routerLink]="['/facility']">view facility<i
                                class="fa fa-arrow-right" aria-hidden="true"></i></span>
                        <span>View Facility</span>
                    </div>
                </figure>
            </div>
            <div class="col-md-3">
                <figure>
                    <div>
                        <span><a href="https://www.doximity.com/" target="_blank">Doximity<i
                                class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                        <span>Doximity</span>
                    </div>
                </figure>
            </div>
      </div>
      <div class="row reports goa" >
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <figure>
                <div>
                    <span><a href="https://clozapinerems.com" target="_blank">Clozapine Rems<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                    <span>Clozapine Rems</span>
                </div>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <div>
                    <span><a href="https://www.onlinepsychiatrycare.com/" target="_blank"> Balanced Wellbeing<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                    <span>Balanced Wellbeing</span>
                </div>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <div>
                    <span [routerLink]="['/insuranceinformation']">Insurance Information<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span>Insurance Information</span>
                </div>
            </figure>
        </div>
      </div>
      <div class="row reports goa">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <figure>
                <div>
                    <span><a href="https://www.americantrustretirement.com" target="_blank">401K<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                    <span>401K</span>
                </div>
            </figure>
        </div>
        <div class="col-md-3" *ngIf="roleType !== 'Admin'">
            <figure>
                <div>
                    <span [routerLink]="['/receipt']">Submit Receipt<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span>Submit Receipt</span>
                </div>
            </figure>
        </div>
        <div class="col-md-3" *ngIf="roleType === 'Admin'">
            <figure>
                <div>
                    <span [routerLink]="['/receiptapproval']">Receipt Approval<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span>Receipt Approval</span>
                </div>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <div>
                    <span><a href="http://adminbalancedwellbeing.com.s3-website-us-west-2.amazonaws.com/" target="_blank">Admin Portal<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                    <span>Doctor Desh App</span>
                </div>
            </figure>
        </div>
      </div>
      <div class="row reports goa">
        <div class="col-md-1"></div>
        <div class="col-md-3" *ngIf="roleType !== 'Admin'">
            <figure>
                <div>
                    <span [routerLink]="['/saveovertime']">Submit Overtime<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span>Submit Overtime</span>
                </div>
            </figure>
        </div>
        <div class="col-md-3" *ngIf="roleType === 'Admin'">
            <figure>
                <div>
                    <span [routerLink]="['/allovertimehistory']">Approve Overtime<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span>Approve Overtime</span>
                </div>
            </figure>
        </div>
        <div class="col-md-3" *ngIf="roleType !== 'Admin'">
            <figure>
                <div>
                    <span [routerLink]="['/savelecture']">Submit Lecture<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span>Submit Lecture</span>
                </div>
            </figure>
        </div>
        <div class="col-md-3" *ngIf="roleType === 'Admin'">
            <figure>
                <div>
                    <span [routerLink]="['/lectureapproval']">Approve Lecture<i
                            class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span>Approve Lecture</span>
                </div>
            </figure>
        </div>
      </div>
  </section>
</div>





<div class="modal lol fade" id="myModalap2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content mc1">
            <p style="text-align: end; margin:25px; cursor: pointer;" data-dismiss="modal"><i class="fa fa-times"
                    aria-hidden="true"></i></p>
            <div class="modal-body">
                <div class="row topMargin">
                    <div class="col-md-1">
                        <img src="/assets/img/login/logo.png" height="100px">
                    </div>
                    <div class="col-md-4 mt-4">
                        <h4 style="color: #87c442;">Balanced Wellbeing LLC</h4>
                    </div>
                </div>
                <!-- <iframe  class="leftMargin"style="border: 0" width="1000" height="500" frameborder="0" scrolling="no" [src]="urlSafe"></iframe> -->
                <iframe  class="leftMargin" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=YmFsd2VsbGJlaW5nbGxjQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=N2E3aGtiOGI1cTZzMGlkYzNibmRmNmltYzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=NW01dGhnNGY0dThza2JhNWVraHRyZmFqaXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%238E24AA&amp;color=%23F4511E&amp;color=%230B8043" style="border:solid 1px #777" width="1000" height="500" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
