<div id="wrapper">
  <app-shareddashboard></app-shareddashboard>
  <section id="content-wrapper" style=" padding-left: 0rem;">
    <div class="row">
      <div class="col-lg-12">
        <!-- <button type="button" class="btn-outline-custom btn-lg iambtn"
        [routerLink]="['/employeevacation']">Apply Vacation</button> -->
        <h2 class="content-title">Insurance Information</h2>
      </div>
      <div class="box"></div>
    </div>
    <div class="row mt-4">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <table class='table borderless'>
          <thead>
            <tr>
              <th>
                Blue Cross Blue Shield Health Insurance<br>
                Premium Breakown<br>
                PPO
              </th>
              <th>
                Premium Breakdown<br>HMO
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                EMPLOYEE ONLY:
              </td>
              <td>
                EMPLOYEE ONLY:
              </td>
            </tr>
            <tr>
              <td>
                INITIAL RATE: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$356.58
              </td>
              <td>
                INITIAL RATE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$358.82
              </td>
            </tr>
            <tr>
              <td>
                Employer covers 50% of EMPLOYEE:&nbsp;&nbsp;&nbsp;$178.29
              </td>
              <td>
                Employer covers 50% of EMPLOYEE:&nbsp;&nbsp;&nbsp;$179.41
              </td>
            </tr>
            <tr>
              <td>
                Deducted from Paycheck (Bi-Weekly):&nbsp;&nbsp;$89.15
              </td>
              <td>
                Deducted from Paycheck (Bi-Weekly):&nbsp;&nbsp;$89.71
              </td>
            </tr>
            <tr>
              <th>
                EMP. + SPOUCE:
              </th>
              <th>
                EMP. + SPOUCE:
              </th>
            </tr>
            <tr>
              <td>
                INITIAL RATE:$713.16
              </td>
              <td>
                INITIAL RATE:$717.64
              </td>
            </tr>
            <tr>
              <td>
                Employer covers 50% of EMPLOYEE:$534.87
              </td>
              <td>
                Employer covers 50% of EMPLOYEE:$538.23
              </td>
            </tr>
            <tr>
              <td>
                Deducted From Paycheck (Bi-Weekly):$267.44
              </td>
              <td>
                Deducted From Paycheck (Bi-Weekly):$269.12
              </td>
            </tr>
            <tr>
              <th>
                EMP. + CHIL(REN):
              </th>
              <th>
                EMP. + CHIL(REN):
              </th>
            </tr>
            <tr>
              <td>
                INITIAL RATE:$659.67
              </td>
              <td>
                INITIAL RATE:$663.82
              </td>
            </tr>
            <tr>
              <td>
                Employer cover 50% of EMPLOYEE:$481.38
              </td>
              <td>
                Employer cover 50% of EMPLOYEE:$484.41
              </td>
            </tr>
            <tr>
              <td>
                Deducted from Paycheck (Bi-weekly):$240.69
              </td>
              <td>
                Deducted from Paycheck (Bi-weekly):$242.21
              </td>
            </tr>
            <tr>
              <th>
                FAMILY:
              </th>
              <th>
                FAMILY:
              </th>
            </tr>
            <tr>
              <td>
                INITIAL RATE:$1,016.25
              </td>
              <td>
                INITIAL RATE:$1,022.64
              </td>
            </tr>
            <tr>
              <td>
                Employer Covers 50% of EMPLOYEE:$837.96
              </td>
              <td>
                Employer Covers 50% of EMPLOYEE:$843.23
              </td>
            </tr>
            <tr>
              <td>
                Deducted from Paycheck (Bi-weekly):$418.98
              </td>
              <td>
                Deducted from Paycheck (Bi-weekly):$421.62
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="col-md-5" >
      </div> -->
    </div>
  </section>
</div>